 
 <aside>
 <br><br><br>
  <%=image_tag "achtung.png", :style => "width:88%;margin-left:18px;"%><br><br><br>
 </aside>
 
 <article>

<div id="box" style=" border-right:1px dashed 
silver;float:left">
<section style="text-align:left;">
 <h3 style="text-align:center"><br> поясниловка к базе данных<br>
 'мат стройбата'</h3>
<div style="width:78%;">
  <p style="width:78%;">Руский мат не вчера родился и, как любое выдержавшее проверку 
временем сооружение, зиждется на трёх китах.</p><p> 

Во-1-х, (джентельменски пропуская вперёд женский род) это &ndash; слово 
обозначающее женский половой орган, 

 скажем,  whale_0, а короче w0.



 </p><p> Вторым китом, натурально, становится слово 
используемое для наименования мужского полового органа, 

 его укоротим до w1.

  </p><p> Логическим  завершением, третьим членом данного 
китового стада &mdash;стало, есть и будет слово

  обозначающее естественное взаимодействие двух вышеперечисленных 
представителей данного основополагающего триумкитата &mdash; w2.<br>&nbsp;

  </p>

 <fieldset style=" "><legend>картинка 1:</legend> <p><em 
>Загадка истории &ndash; формула руского мата:<br> <br><span 
id="span">w0 + w1 = w2</span> <br><br>

 украшает мостовую средневекового итальянского 
дворика.</span></em></p><p><br>

<img alt="Xyz" src="/assets/xyz.jpg" style="align:center;width:100%;" />

</fieldset>

      	<p>

&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;

 В ходе исторического процесса носители языка неоднократно использовали 
все и каждое из трёх основных матерных слов для

обозначения объектов и явлений зачастую весьма удалённых от сферы 
межполового сношения.

	</p><p> 

	Употребления данных слов ["w0", "w1", "w2"] за пределами их 
прямого смысла, стирая изначальные значения, довёл их до   
многозначности на грани утраты всякого смысла, помимо передачи 
эмоционального состояния говорящего и исполнения одной из двух функций 
любого звукопроизводства любым живым существом: отпугнуть, или 
приманить.

		</p><p> 

Вместе с тем, присущая рускому языку система словообразования 
посредством смыслоносной пре-



и постфиксации привела к появлению от ровным счётом трёх



корней несметного числа матершинных производных  способных выразить 
тончайшие оттенки смысла.</p><p> 

В. Даль немало их, наверняка, встречал, но, придерживаясь правил 
приличия, скороговорочно определил мат как "площадную грубую брань". 
</p>

<p> 

А сказать по чести,

мат есть неотъемлемой&mdash;плоть от плоти&mdash;частью руского языка и 
чистоплюйские попытки разделить



язык на бранный и пристойный равносильны сегрегации людей по цвету 
кожи.</p>

  

  
 

<fieldset><legend>

    	картинка 2:</legend><p><em>Нарукавный шеврон<br> парадной 
формы<br> военных строителей..</em><br> <br> <div class='rotate_left polaroid'>
<%= image_tag "shevron.gif", :style => 'width:100%;', :class=> 'float_right' %> </div>
    	</fieldset>

    	 



  <p> За истёкшие век-полтора, мат так 

и остался табу – чем-то запретным к употреблению, кроме как в узком 
кругу закадычных приятелей. </p><p><i>(Правда, нынче  некоторые его 
составляющие нередко используют для увеселения публики.<br>

Когда табу &mdash;нечто общечтимое&mdash;шлёпается рылом в слякоть, то у 
определённой части населения вырывается здоровый хохот типа «бу-гы-гы!». 
Этим-то приёмом и кормятся господа хохмачи-телезатейники.)

</i></p>

  



 

<p> 



В конечном счёте, всё решает интонация &ndash; нейтральнейшее 
наименование произнесенное  с



презрением или ненавистью куда отвратней восхищённого матюка.</p>



<p> 

Язык, он не просто средство общения, а скорее набор инструментов для 
общения и увы мастеру, у



которого&mdash;в нужный момент&mdash;не окажется под рукой гвоздодёра 
или, там, шлямбура.</p>





<p> 

Важность мата для жизни любого вида:<br>&nbsp; <ul><table><tr><td 
valign="top"><li><span 
id="span">боевой</span></td><td>&nbsp;&nbsp;(<i>"...да я матом вышибал 
страх из людей и гнал под кинжальный огонь пулеметов!..</i>"), 
<br>&nbsp;</td></tr></table></li>

<table><tr><td valign="top"><li>

<span id="span">трудовой</span> </td><td>&nbsp;&nbsp;("<i>... с помощью 
зубила, молотка и распротакой матери побил все 
рекорды..."),</i><br>&nbsp;</td></tr></table></li>

<table><tr style="line-height:2.5em"><td style="line-height:2.5em" 
valign="top"><li><span id="span">половой</span> </td><td 
style="line-height:2.5em">&nbsp;&nbsp;(<i> стимулирующие качества мата в 
области любовных игр настолько неоспоримы, что я на 100%  согласен с 
наивным высказыванием будто в Советском Союзе не было секса &mdash; 
истинно, истинно говорю вам! &mdash; вместо секса  у нас была 
ебля),</i></td></tr></table></li></ul>

<p>

не требует долгих доказательств и  давно назрела необходимость 
повернуться к мату лицом и разобраться с ним как с лингвистической 
вариацией, вместо того, чтобы его замалчивать, зашикивать, 
поворачиваться спиной и прятать голову в песок &ndash; весьма (заметим к 
слову) неосмотрительная позиция, с учётом наличия хохмачествующих 
штукарей.

</p><p id="mat"> Mат, как любая иная грань языка, заслуживает уважения, 
философского осмысления,



фундаментальных исследований и популярного изложения.</p><p> 

B этом свете, база данных "мат стройбата" является 
эмпирио-хронологическим срезом матерной части руского



языка во второй половине ХХ века, в том виде, каковой она предстала 
автору этих строк в



королевских войсках Советской Армии (таким было  неофициальное название 
её военно-строительных отрядов, а короче &ndash; стройбатов, в 73-75 
г.г. прошлого века).



</p>



<div align="center"  >

<br>

<%= form_tag('crossroads') do -%>

 <%= button_tag  "введение в Мат Cтройбата",  class: "button" %>

 <% end -%>

     <p align="center">

 Приятно-полезного вам времяпрепровождения! <%=image_tag "shevron.gif", 
:style => "width:28px;"%> </p>	

  </div></div>
</div>
  </div></section></div>
</article>
