 
<div id="container" style="min-height:600px;">
<div class="push"></div> 
<p style="float:left; margin-left:1%;"><%= link_to 'новый поиск', w0lookup_path, 
:class=>'button' %></p>
 
<h1 style="color:red;text-align:center; width:56%;margin-left:20%" id="shadow"><em>корневое слово w0 и выражения от него</em><br>&nbsp;</h1>

<table  style="margin-right:1%;margin-left:1%;margin-top:3%" id="table">
<tbody>
  <thead>
    <tr style="color:#c30808;text-align:center; border-bottom:1px dashed silver;">
      <th> слово/выражение&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>его значение</th>
       <th width="9%">синонимы&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th width="5%">категория&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th width="43%">пояснение категории</th>
      <th    > 
примеры</th> 
    </tr>
    <tr ><th colspan=5></th></tr>
  </thead>

  <tbody>
    <% @w0words.each do |w0word| %>
      <tr class="<%= cycle('evenrow', 'oddrow') -%>">
        <td><%= w0word.expression %></td>
        <td><%= w0word.interpretation %></td>
         
         <td><%= w0word.synonym %></td>
        <td><%= w0word.category %></td>
        <td><%= w0word.category_definition %></td>
        <td><%= link_to 'покажь!', w0word %></td>
         
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 
